.buttons{
    display: flex;
    justify-content: center;
}

.user-info-form {
    display: flex;
    flex-direction: column;
    background-color:#D3C3A9; 
    border-radius: 10px; 
    padding: 30px; 
    border: 1px black solid;
    box-shadow: 0 0 10px rgba(0, 0,0,0.4);
  }

.user-info-form input{
    
    width: 100%;
}
.user-info-form div{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
