footer{
    background-color: #D3C3A9;
    padding: 20px;
    border-radius: 8px;
}
footer *{
    height: 30px;
    font-weight: 600;  
}

.foottext {
    text-align: center;
}

.contact-links {
    text-align: center;
}